# ignore python venv files and directories

/bin/*

/include/*

/lib/*

pyvenv.cfg

# ignore directories created by jupyter notebooks

/etc/*

/share/*

.ipynb_checkpoints

# personal data directory

/observations/*

# apple health exported files

export.xml

*.csv